<div id='last_ruled_on_inquest'>
<% if inquest.present? %>	
  <%= inquest_image_tag_small(inquest) %>
  <br/>
  <%= t('inquests.show.is') -%>: <%= inquest.yes_count %><br/>
  <%= t('inquests.show.is_not') -%>: <%= inquest.no_count %><br/>
  <%= t('inquests.show.not_sure') -%>: <%= inquest.not_sure_count %><br/>
<% end %>
</div>
