<h1><%= t 'site.title' %></h1>
<h2><%= t 'inquests.show.title' %></h2>
<%= image_tag @inquest.image_url -%>
<form action='/' method='get'>
  <%= submit_tag t('inquests.show.is'),      :name => 'is' %>
  <%= submit_tag t('inquests.show.is_not'),  :name => 'is_not' %>
</form>
<%= link_to t('inquests.show.help'), about_path %>
<%- if @inquest.predecessor.present? -%>
  <%= link_to t('inquests.show.previous'), @inquest.predecessor %>
<%- end -%>
<%- if @inquest.successor.present? -%>
  <%= link_to t('inquests.show.next'), @inquest.successor %>
<%- end -%>