<html>
  <head>
    <title><%= t 'site.title' %></title>
    <%= stylesheet_link_tag 'reset', 'application' %>
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <%= image_tag 'blue_jeans.jpg', :alt => 'Pants', :title => 'Pants' %>
        or
        <%= image_tag 'blue_skirt.jpg', :alt => 'Not', :title => 'Not' %>?
      </div>
      <div id='content'>
        <% flash.each do |k,v| %>
          <p class='flash <%= k -%>'><%= v %></p>
        <% end %>
        <%= yield %>
      </div>
      <div id='footer'>
        <%= link_to t('site.about'), about_path %> |
        <%= link_to t('site.issues_link.text'), t('site.issues_link.url') %>
      </div>
    </div>
  </body>
</html>
