<html>
  <head>
    <title><%= t 'site.title' %></title>
    <%= stylesheet_link_tag 'reset', 'application' %>
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1><%= t 'site.title' %></h1>
      </div>
      <div id='content'>
        <%= yield %>
      </div>
      <div id='footer'>
        <%= link_to t('site.about'), about_path %> |
        <%= link_to t('site.issues_link.text'), t('site.issues_link.url') %>
      </div>
    </div>
  </body>
</html>
